@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
  box-sizing: border-box;
}

:root {
  --color-negro-principal: black;
  --color-azul-principal: #2a395a;
  --color-blanco-principal: #e7ebda;
}
body {
  background-color: var(--color-blanco-principal);
  height: 100%;
  display: block;

  font-family: 'Poppins', sans-serif;
  font-size: regular;
}
p {
  font-family: 'Poppins', sans-serif;
}
h1 {
  font-family: 'DM Serif Display', serif;
}
.app {
  width: 100%;
  /* height: 200vh; */
  position: absolute;
  top: 0;
  background-image: url(./public/src/images/fondoedehome.jpg);
  background-repeat: no-repeat;
  background-position-y: 5rem;
  background-size: 200vw;
  z-index: -1000;
}

.title-principal-home {
  background-color: #e7ebda3b;
  height: 200vh;
  padding: 0 1.5rem;
  position: relative;
  color: var(--color-negro-principal);
}
.title-principal-home h1 {
  font-family: 'DM Serif Display', serif;
  margin-top: 28rem;
}
.title-principal-home p {
  text-align: justify;
  margin-top: 2rem;
}
.btn-home {
  margin-top: 35rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.btn-home button {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color: #098d27;

  box-shadow: 5px 5px 10px 1px gray;
}
.btn-home button:hover {
  border-radius: 5px;
  padding-right: 24px;
  padding-left: 8px;
}
.btn-home button:hover:after {
  opacity: 1;
  right: 10px;
}
.btn-home button:after {
  content: '\00BB';
  position: absolute;
  opacity: 0;
  font-size: 20px;
  line-height: 40px;
  top: 0;
  right: -20px;
  transition: 0.4s;
}
.btn-call {
  background-color: #2a395a !important;
}
.title-services h1 {
  text-align: center;
  font-size: 45px;
  margin-top: 8rem;
  margin-bottom: 4rem;
}
.services-home {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  place-items: center;
  text-align: justify;
}
.contain-services-home {
  width: 320px;
  height: 450px;
}
.services-home h1 {
  font-family: 'DM Serif Display', serif;
}
.contain-services-home {
  margin-bottom: 6rem;
}
.contain-services-home img {
  width: 320px;
  height: 250px;
  margin-bottom: 1rem;
}
.contain-services-home h1 {
  margin-bottom: 1rem;
}
.contain-services-home button {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.contain-aboutUs {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
  text-align: justify;
}
.contain-aboutUs h1 {
  margin-bottom: 2rem;
}
.contain-aboutUs img {
  width: 200px;
}
@media (min-width: 1000px) {
  .app {
    background-size: 100vw;
    background-position-y: 0rem;
  }
  .title-principal-home h1 {
    font-size: 50px;
    margin-top: 30rem;
  }
  .title-principal-home {
    background-color: transparent;
    width: 800px;
    height: 100vh;
    text-align: justify;
    display: block;
    float: right;
  }
  .title-principal-home p {
    margin-top: 2rem;
  }
  .block {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  .btn-home {
    margin-top: 42rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
  }
}
