html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

:root {
  --color-negro-principal: black;
  --color-azul-principal: #2a395a;
  --color-blanco-principal: #e7ebda;
}
body {
  background-color: var(--color-blanco-principal);
  height: 100%;
  display: block;
}

.app {
  width: 100%;
  /* height: 200vh; */
  position: absolute;
  top: 0;
  background-image: url(./public/src/images/fondoedehome.jpg);
  background-repeat: no-repeat;
  background-position-y: 5rem;
  background-size: 200vw;
  z-index: -1000;
}

.title-principal-home {
  background-color: #e7ebda3b;
  height: 200vh;
  padding: 0 1.5rem;
  position: relative;
  color: var(--color-negro-principal);
}
.title-principal-home h1 {
  font-size: 35px;
  margin-top: 28rem;
}
.title-principal-home p {
  text-align: justify;
  margin-top: 2rem;
}
.btn-home {
  margin-top: 35rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.btn-home button {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color: #098d27;

  box-shadow: 5px 5px 10px 1px gray;
}
.btn-home button:hover {
  border-radius: 5px;
  padding-right: 24px;
  padding-left: 8px;
}
.btn-home button:hover:after {
  opacity: 1;
  right: 10px;
}
.btn-home button:after {
  content: '\00BB';
  position: absolute;
  opacity: 0;
  font-size: 20px;
  line-height: 40px;
  top: 0;
  right: -20px;
  transition: 0.4s;
}
.btn-call {
  background-color: #2a395a !important;
}

@media (min-width: 1000px) {
  .app {
    background-size: 100vw;
    background-position-y: 0rem;
  }
  .title-principal-home h1 {
    font-size: 50px;
    margin-top: 30rem;
  }
  .title-principal-home {
    background-color: transparent;
    width: 800px;
    height: 100vh;
    text-align: justify;
    display: block;
    float: right;
  }
  .title-principal-home p {
    margin-top: 2rem;
  }
  .block {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  .btn-home {
    margin-top: 42rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
  }
}
