* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}
:root {
  --color-negro-principal: black;
  --color-azul-principal: #2a395a;
}
/* footer {
  display: block;
  position: relative;
} */
footer {
  position: relative;
  height: 260vh;
}
.block {
  position: absolute;
  bottom: 0;
}

.block {
  padding-top: 12rem;
  display: block;
  color: white;
  z-index: -100;
  background: linear-gradient(0deg, #2a395a 60%, rgba(255, 255, 255, 0) 65%);
}

.footer {
  padding-top: 25rem;
  width: 100%;
}

.footer-child {
  padding-top: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-cancun {
  width: 100%;
  border-top: 0.5px solid white;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}
.logo-cancun img {
  width: 150px;
}
.footer-child p {
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}
.list-contain {
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}
.list-contain .li {
  color: white;
  list-style: none;
  text-decoration: none;
}

.logo-network {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.list-logo {
  display: flex;
  gap: 4rem;
}
.list-logo img {
  width: 30px;
}
.contact-us-contain {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contact-us-contain h4 {
  margin-bottom: 1rem;
}
.list-data {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  padding-bottom: 1rem;
  line-height: 1.4rem;
}

.container-boder-botton {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.border-botton {
  width: 100%;
  height: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.598);
  padding-bottom: 5rem;
  text-align: center;
}

.list-contain li a {
  text-decoration: none;
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: white;
}
.border-botton img {
  width: 80px;
}
@media (min-width: 1000px) {
  .block {
    width: 100%;
    height: 135vh;
    padding-left: 35rem;
    padding-right: 35rem;
    background: linear-gradient(0deg, #2a395a 55%, rgba(255, 255, 255, 0) 60%);
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
    margin-top: -5rem;
    padding-bottom: 5rem;
    align-items: baseline;
  }

  .logo-footer {
    border-top: none;
  }
  .grid-child.logo-cancun img {
    width: 80px;
  }
  .grid-child.logo-cancun {
    width: 400px;
    border-top: none;
  }

  .grid-child {
    width: 15rem;
  }
  .footer-child p {
    font-size: 14px;
    text-align: justify;
  }
  .list-contain {
    text-align: left;

    font-size: 14px;
  }
  .list-logo {
    gap: 2rem;
  }
  .contact-us-contain {
    text-align: left;

    font-size: 14px;
  }
  .border-botton {
    width: 1000px;
  }
  .border-botton p {
    font-size: 14px;
  }
  .logo-network h4 {
    font-size: 14px;
  }
  .container-boder-botton {
    height: 8vh;
  }
  .border-botton img {
    position: absolute;
    left: 30rem;
    width: 50px;
  }
}
